<section class="padded section-full-size profile-section aside-section">
    <h2 class="section-header"> EDIT ACCOUNT DETAILS </h2>
    <hr />

    {{#if error}}
        <div class="message-box error-box"> {{error}} </div>
    {{else if success}}
        <div class="message-box success-box"> {{success}} </div>
    {{/if}}
    <h3 style="display: block;"> Account </h3>

    <form method="POST" class="profile-form" style="display: block;">
        <label> Username </label>
        <input type="text" disabled value="{{username}}">
        <label> Email </label>
        <input type="email" disabled value="{{email}}">
    </form>

    <div style="clear: both"></div>
    <h3 style="display: block;"> Change password </h3>

    <form method="POST" class="profile-form">
        <label> Current password </label>
        <input type="password" name="currentPassword" required>
        <label> New password </label>
        <input type="password" name='newPassword' required>
        <label> Repeat new password </label>
        <input type="password" name='repeatNewPassword' required>
        <div style="clear: both"></div>
        <hr />
        <button type="submit" class="btn btn-success">
            <span class="fa fa-save"></span> 
            SAVE CHANGES
        </button>
    </form>

</section>