<section class="padded section-full-size profile-section aside-section">
    <h2 class="section-header">Statistics</h2>
    <hr />
    <div style="column-count: auto; font-size: large;">
        <p> <span class="fas fa fa-play" style="padding: 10px;"></span> Games played: {{gamesPlayed}} </p>
        <p> <span class="fas fa fa-trophy" style="padding: 10px;"></span>Games won: {{gamesWon}} ({{{getPercent gamesWon gamesPlayed}}} %)</p>
        <p> <span class="fas fa fa-clock" style="padding: 10px;"></span> Time spent in multiplayer: {{ticksToSeconds gameTime}} </p>
    </div>

    <h2> Unlocked achievements</h2>
    <hr />

    {{#each unlockedAchievements}}
        <div class="achievement-item">
            <span class="fa fa-{{iconName}} achievement-icon icon-bg-blue"></span>
            <div class="achievement-text">
                <h4> {{title}} </h4>
                <p> {{description}} </p>
            </div>
            <div class="achievement-date"> {{toLocaleString unlockedAt}} </div>
            <div style="clear: left;"></div>
        </div>
    {{/each}}

    <p> </p>
    <a class="styled-link" href="/profile/achievements"> View all achievements </a>
</section>