<div id='messages-container'></div>

<aside class="fixed-sidebar profile-sidebar">
    <svg width="130" height="130" data-jdenticon-value={{user.identiconHash}}></svg>
    <h3> @{{user.username}} </h3>
    <p> Level {{level}} </p>
    <p style="margin: 0; text-align: left; margin-left: 29px;"> Exp. ({{experience}} / {{experienceNext}}) </p>
    <progress max="{{experienceNext}}" value="{{experience}}"> </progress>
    <hr />
    <label style="margin-bottom: 5px; display: block;"> Multiplayer script </label>
    <select name="multiplayer-script" id="multiplayer-script-list" style="width: 80%; float: left;">
        <option value="0"> None </option>
        {{#each scripts}}
        <option value="{{_id}}" {{{compareStrings _id ../selectedScript}}}> {{name}}</option>
        {{/each}}
    </select>
    <button class="btn-small" onclick="submitSelection()">
        <span class="fa fa-save"></span>
    </button>
    <hr/>
    <a href="/profile/edit-account" class="styled-link" style="color: #FFFFFF"> Edit account details </a>
</aside>

{{#if achievementsBriefList}}
    {{>profile-body}}
{{else if editAccount}}
    {{>edit-account}}
{{else}}
    {{>achievements-all}}
{{/if}}

<script src="/static/js/ui/notifier.js"></script>
<script src="/static/js/ui/selectMultiplayerScript.js"></script>